<h1>Listing Customers</h1>
 
<%= link_to 'New customer', new_customer_path %> | <%= link_to 'Items', items_path %> | <%= link_to 'Ingredients', ingredients_path %><br><br>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Status</th>
    <th colspan="4"></th>
  </tr>
 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.date %> </td>
      <td><%= customer.status %> </td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <td><%= link_to 'Destroy', customer_path(customer), method: :delete, data: { confirm: 'Sure?' } %></td>
    </tr>
  <% end %>

</table>