<%= form_for @item do |f| %>
<<<<<<< HEAD
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited
      this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
=======
  <%= f.text_field :name %>
  <%= f.submit %>
>>>>>>> 0c96298a1f5f94abb02d2623fff0083806506891
<% end %>