<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
 <strong>Ingredients</strong>
  <% @item.ingredients.each do |ing| %>
  <%= ing.name %>
  <% end %>
<p>
  <strong>Order <%= @item.customer_id %> by Customer:</strong>
  <%= @item.customer.name %>
  
</p> 

<%= link_to 'Back', items_path %>
| <%= link_to 'Edit', edit_item_path(@item) %>